<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioSortUsingStatements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioRemoveUnusedUsingStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateSingleLineMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_UpdateAccessorsToBothBeSingleLineOrMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfLineWhitespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_ExclusionExpression" serializeAs="String">
                <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$||\.rc$</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesBetweenChainedStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAtBottom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAfterOpeningBrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAfterAttributes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesBeforeClosingTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesBeforeClosingBrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAtTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveMultipleConsecutiveBlankLines"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioFormatDocumentCommand"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_SkipRemoveUnusedUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>